name: macOS Build

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Compile Application
      run: |
        cd TPP-IoT-Control-System
        g++ -std=c++11 *.cpp -o ../TPP_Analytics_Mac

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: TPP_System_macOS
        path: TPP_Analytics_Mac
